<!-- <mat-card class="oh text-center little-profile">
    <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="pro-img">
            <img src="assets/images/users/4.jpg" width="100" alt="user" class="img-circle">
        </div>
        <h3 class="m-b-0">Angela Dominic</h3>
        <h6 class="m-t-0 ">Web Designer &amp; Developer</h6>
        <mat-card-actions class="db">
            <button mat-raised-button color="warn">Follow</button>
        </mat-card-actions>
        <div class="row m-t-30">
            <div class="col-4">
                <h3 class="m-0 font-light">1099</h3>
                <small>Articles</small>
            </div>
            <div class="col-4">
                <h3 class="m-0 font-light">23,469</h3>
                <small>Followers</small>
            </div>
            <div class="col-4">
                <h3 class="m-0 font-light">6035</h3>
                <small>Likes</small>
            </div>
        </div>
    </mat-card-content>
</mat-card> -->

<!-- <mat-card class="oh text-center little-profile">
    <img mat-card-image src="assets/images/background/hospital-bg.jpg" alt="Hospital Background">
    <mat-card-content>
        <div class="pro-img">
            <img src="assets/images/users/doctor.jpg" width="100" alt="Doctor" class="img-circle">
        </div>
        <h3 class="m-b-0">Dr. Ahmet Yılmaz</h3>
        <h6 class="m-t-0 ">Kardiyolog</h6>
        <mat-card-actions class="db">
            <button mat-raised-button color="warn">Takip Et</button>
        </mat-card-actions>
        <div class="row m-t-30">
            <div class="col-4">
                <h3 class="m-0 font-light">500</h3>
                <small>Makale</small>
            </div>
            <div class="col-4">
                <h3 class="m-0 font-light">10,000</h3>
                <small>Takipçi</small>
            </div>
            <div class="col-4">
                <h3 class="m-0 font-light">1500</h3>
                <small>Beğeni</small>
            </div>
        </div>
    </mat-card-content>
</mat-card> -->

<mat-card class="oh text-center little-profile">
    <img mat-card-image src="assets/images/doctor.jpg" alt="Hospital Background">
    <mat-card-content>
        <div class="pro-img">
            <img src="assets/images/doctor.jpg" width="100" alt="Doctor" class="img-circle">
        </div>
        <h3 class="m-b-0">Dr. Ahmet Yılmaz</h3>
        <h6 class="m-t-0 ">Göğüs Hastalıkları Uzmanı</h6>
       
    </mat-card-content>
</mat-card>

