<div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Pneumothorax: Temel Bilgiler</mat-card-title>
          <mat-list role="list">
            <mat-list-item role="listitem">Pnömotoraks, akciğerin hava dolu bir kese içinde anormal bir şekilde sıkıştığı bir durumdur.</mat-list-item>
            <mat-list-item role="listitem">Belirtiler arasında aniden başlayan göğüs ağrısı, nefes darlığı ve hava açlığı hissi bulunur.</mat-list-item>
            <mat-list-item role="listitem">Pnömotoraks genellikle travma, akciğer hastalıkları veya bazen de bilinmeyen nedenlerle meydana gelir.</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Pneumothorax: Semptomlar</mat-card-title>
          <mat-card-subtitle>Pnömotoraks, akciğerin hava dolu bir kese içinde anormal bir şekilde sıkıştığı bir durumdur.</mat-card-subtitle>
          <mat-list>
            <mat-list-item *ngFor="let symptom of symptoms">
              {{ symptom }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Pneumothorax: Tedavi Seçenekleri</mat-card-title>
          <mat-card-subtitle>Pnömotoraks tedavisi, pnömotoraksın şiddetine, hastanın durumuna ve altta yatan nedenlere bağlı olarak değişir.</mat-card-subtitle>
          <mat-list>
            <mat-list-item *ngFor="let treatment of treatments">
              <h3 matListItemTitle>{{ treatment.name }}</h3>
              <p matListItemLine>{{ treatment.description }}</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Pneumothorax ile İlgilenen Branşlar</mat-card-title>
          <mat-card-subtitle>Pnömotoraksın tanısı ve tedavisi için birçok tıp branşı devreye girebilir.</mat-card-subtitle>
          <mat-list>
            <mat-list-item *ngFor="let specialty of medicalSpecialties">
              <div matListItemTitle>{{ specialty }}</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <div class="d-flex flex-wrap">
            <div>
              <mat-card-title>Hastalık İstatistikleri</mat-card-title>
              <mat-card-subtitle>Pneumothorax Hastalığı Üzerine Veriler</mat-card-subtitle>
            </div>
          </div>
          <div>
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [dataLabels]="chartOptions.dataLabels"
              [plotOptions]="chartOptions.plotOptions"
              [yaxis]="chartOptions.yaxis"
              [legend]="chartOptions.legend"
              [fill]="chartOptions.fill"
              [stroke]="chartOptions.stroke"
              [tooltip]="chartOptions.tooltip"
              [xaxis]="chartOptions.xaxis"
              [grid]="chartOptions.grid"
            >
            </apx-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  