<!-- ============================================================== -->
<!-- Nodule/Mass ile ilgili bilgiler -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
      <mat-card>
          <mat-card-content>
              <mat-card-title>Nodule/Mass: Temel Bilgiler</mat-card-title>
              <mat-list role="list">
                  <mat-list-item role="listitem">Nodule veya kitle, akciğer dokusunda anormal bir büyüme veya kütledir.</mat-list-item>
                  <mat-list-item role="listitem">Birçok durumda, nodül veya kitle kanserli olmayabilir ve takip edilmesi gerekebilir.</mat-list-item>
                  <mat-list-item role="listitem">Büyüme veya değişikliklerin izlenmesi için düzenli taramalar yapılması önemlidir.</mat-list-item>
              </mat-list>
          </mat-card-content>
      </mat-card>
  </div>
</div>
<!-- ============================================================== -->
<!-- Nodule/Mass: Semptomlar ve Tedavi -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-lg-6">
      <mat-card>
          <mat-card-content>
              <mat-card-title>Nodule/Mass: Semptomlar</mat-card-title>
              <mat-card-subtitle>Nodule veya kitle genellikle semptomlara neden olmaz, ancak bazen öksürük veya nefes darlığı gibi belirtiler olabilir.</mat-card-subtitle>
              <mat-list>
                  <mat-list-item *ngFor="let symptom of noduleMassSymptoms">
                      {{symptom}}
                  </mat-list-item>
              </mat-list>
          </mat-card-content>
      </mat-card>
  </div>
  <div class="col-lg-6">
      <mat-card>
          <mat-card-content>
              <mat-card-title>Nodule/Mass: Tedavi Seçenekleri</mat-card-title>
              <mat-card-subtitle>Nodule veya kitle, büyüme hızına, boyutuna ve potansiyel kanser riskine bağlı olarak tedavi edilebilir.</mat-card-subtitle>
              <mat-list>
                  <mat-list-item *ngFor="let treatment of noduleMassTreatments">
                      <h3 matListItemTitle>{{treatment.name}}</h3>
                      <p matListItemLine>{{treatment.description}}</p>
                  </mat-list-item>
              </mat-list>
          </mat-card-content>
      </mat-card>
  </div>
</div>
<!-- ============================================================== -->
<!-- Hangi Branşlar İlgilenir? -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
      <mat-card>
          <mat-card-content>
              <mat-card-title>Nodule/Mass ile İlgilenen Branşlar</mat-card-title>
              <mat-card-subtitle>Nodule veya kitle teşhisi, tedavisi ve takibi için çeşitli tıp branşları devreye girebilir.</mat-card-subtitle>
              <mat-list>
                  <mat-list-item *ngFor="let specialty of medicalSpecialties">
                      <div matListItemTitle>{{specialty}}</div>
                  </mat-list-item>
              </mat-list>
          </mat-card-content>
      </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <mat-card>
          <mat-card-content>
              <div class="d-flex flex-wrap">
                  <div>
                      <mat-card-title>Hastalık İstatistikleri</mat-card-title>
                      <mat-card-subtitle>Nodule/Mass Hastalığı Üzerine Veriler</mat-card-subtitle>
                  </div>
              </div>
              <style>
                  .list-inline h6 {
                      font-size: 0.8em; /* Yazı boyutunu küçültmek için */
                  }
              </style>
              <div>
                  <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [dataLabels]="chartOptions.dataLabels"
                      [plotOptions]="chartOptions.plotOptions"
                      [yaxis]="chartOptions.yaxis"
                      [legend]="chartOptions.legend"
                      [fill]="chartOptions.fill"
                      [stroke]="chartOptions.stroke"
                      [tooltip]="chartOptions.tooltip"
                      [xaxis]="chartOptions.xaxis"
                      [grid]="chartOptions.grid"
                  >
                  </apx-chart>
              </div>
          </mat-card-content>
      </mat-card>
  </div>
</div>
