<!-- ============================================================== -->
<!-- Aort Genişlemesi ile ilgili bilgiler -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-12">
		<mat-card>
			<mat-card-content>
				<mat-card-title>Aort Genişlemesi: Temel Bilgiler</mat-card-title>
				<mat-list role="list">
					<mat-list-item role="listitem">Aort genişlemesi, aort arterinin anormal şekilde genişlemesi durumudur.</mat-list-item>
					<mat-list-item role="listitem">Genellikle belirtiler göstermeyebilir ve tesadüfen tıbbi testler sırasında teşhis edilebilir.</mat-list-item>
					<mat-list-item role="listitem">Aort genişlemesi tedavi edilmezse, ciddi komplikasyonlara yol açabilir, bu nedenle düzenli takip önemlidir.</mat-list-item>
				</mat-list>
			</mat-card-content>
		</mat-card>
	</div>
</div>
<!-- ============================================================== -->
<!-- Aort Genişlemesi: Belirtiler ve Tedavi -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-lg-6">
		<mat-card>
			<mat-card-content>
				<mat-card-title>Aort Genişlemesi: Belirtiler</mat-card-title>
				<mat-card-subtitle>Aort genişlemesi, aort arterinin anormal şekilde genişlemesi durumudur.</mat-card-subtitle>
				<mat-list>
					<mat-list-item *ngFor="let symptom of aorticEnlargementSymptoms">
						{{symptom}}
					</mat-list-item>
				</mat-list>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-lg-6">
		<mat-card>
			<mat-card-content>
				<mat-card-title>Aort Genişlemesi: Tedavi Seçenekleri</mat-card-title>
				<mat-card-subtitle>Aort genişlemesi tedavi edilmezse, ciddi komplikasyonlara yol açabilir, bu nedenle düzenli takip önemlidir.</mat-card-subtitle>
				<mat-list>
					<mat-list-item *ngFor="let treatment of aorticEnlargementTreatments">
						<h3 matListItemTitle>{{treatment.name}}</h3>
						<p matListItemLine>{{treatment.description}}</p>
					</mat-list-item>
				</mat-list>
			</mat-card-content>
		</mat-card>
	</div>
</div>
<!-- ============================================================== -->
<!-- Hangi Branşlar İlgilenir? -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-12">
		<mat-card>
			<mat-card-content>
				<mat-card-title>Aort Genişlemesi ile İlgilenen Branşlar</mat-card-title>
				<mat-card-subtitle>Aort genişlemesi teşhisi, tedavisi ve takibi için çeşitli tıp branşları devreye girebilir.</mat-card-subtitle>
				<mat-list>
					<mat-list-item *ngFor="let specialty of medicalSpecialties">
						<div matListItemTitle>{{specialty}}</div>
					</mat-list-item>
				</mat-list>
			</mat-card-content>
		</mat-card>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<mat-card>
			<mat-card-content>
				<div class="d-flex flex-wrap">
					<div>
						<mat-card-title>Hastalık İstatistikleri</mat-card-title>
						<mat-card-subtitle>Aort Genişlemesi Hastalığı Üzerine Veriler</mat-card-subtitle>
					</div>
				</div>

				<style>
					.list-inline h6 {
						font-size: 0.8em; /* Yazı boyutunu küçültmek için */
					}
				</style>
				<div>
					<apx-chart
						[series]="chartOptions.series"
						[chart]="chartOptions.chart"
						[dataLabels]="chartOptions.dataLabels"
						[plotOptions]="chartOptions.plotOptions"
						[yaxis]="chartOptions.yaxis"
						[legend]="chartOptions.legend"
						[fill]="chartOptions.fill"
						[stroke]="chartOptions.stroke"
						[tooltip]="chartOptions.tooltip"
						[xaxis]="chartOptions.xaxis"
						[grid]="chartOptions.grid"
					>
					</apx-chart>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>